<div class="home-ctas">
	<div class="container">
		<p class="theme">21st Century Language and Learning</p>
	</div>
	<div class="ctas container">
		<section class="cta {% if page.show_registration %}show{% endif %}">
			<h2>Registration</h2>
			<p class="editable">NOW OPEN!<br />Early bird closes September 15th</p>
			<a class="button" href="/registration/">Find out more</a>
		</section>
        <section class="cta {% if page.show_call_for_papers %}show{% endif %}">
			<h2>Call for papers</h2>
			<p class="editable">Submit your Abstract today -&nbsp;<br />closing April 21st!</p>
			<a class="button" href="/call-for-papers/">Find out more</a>
		</section>
	</div>
</div>